@media (max-width: 947px) {
  .middle-div {
    width: 90%;
  }
}

@media (max-width: 725px) {
  .middle-div {
    width: 90%;
    padding: 30px 50px 30px 20px;
  }
}
@media (max-width: 617px) {
  .input-box {
    width: 90%;
  }
  .box {
    border: none;
  }
  .middle-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px 50px 30px 20px;
  }
  .bottom-div {
    width: 100%;
    height: 100%;
  }
}
